/* Matthew Hansen - 12/17/21 */
.cta {
    padding-top: 4rem;
    padding-bottom: 4rem;
    background-color: rgb(68 101 169 / 33%);
}

.nepal .nepal-img {
    width: 50%;
    float: none;
}

#mainNav {
    background-color: rgb(68 101 169 / 33%);
}

.footer {
    background-color: rgb(68 101 169 / 33%);
  }

  